@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}

/* common styles */
nav, .banner-content, #about, #services {
    width: 80%;
    margin: 0 auto;
}
p {
    font-size: 18px;
}
.btn {
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
}
.section-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}
.banner-image, .about-img {
    display: flex;
    align-items: center;
    justify-content: right;
}
.box-title {
    font-size: 30px;
    margin-bottom: 15px;
}
.box-description {
    margin-bottom: 15px;
    line-height: 25px;
}
.btn-secondary {
    background-color: #1E1E1E;
    color: white;
}
.about-content, .service-content {
    padding-top: 80px;
}

/* header styles */
header {
    background-color: #424141;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo img {
    width: 200px;
}
.nav-links {
    display: flex;
}
.nav-links li {
    list-style: none;
    padding: 7px 15px;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}

/* banner styles */
#banner {
    background: url("./images/background.png") #1E1E1E;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 150px 0;
}
.banner-content {
    display: flex;
    align-items: center;
}
.banner-text, .banner-image {
    width: 50%;
}
.banner-image img {
    width: 75%;
}
.banner-text h1 {
    font-size: 55px;
    margin-bottom: 15px;
}
.banner-text p {
    font-size: 21px !important;
    margin-bottom: 25px;
    line-height: 25px;
}

/* about section styles */
.about-content-container {
    display: flex;
    align-items: center;
    gap: 50px;
}
.about-img img {
    width: 65%;
}

/* services section styles */
.service-container {
    display: flex;
    gap: 20px;
}
.service {
    background-color: #6a6a6ade;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 5px;
}
.service-icon {
    text-align: center;
}
.service-icon img {
    width: 65px;
}