@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Space Grotesk', sans-serif;
}

/* common styles */
nav {
    width: 80%;
    margin: 0 auto;
}
p {
    font-size: 18px;
}

/* header styles */
header {
    background-color: #424141;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo img {
    width: 200px;
}
.nav-links {
    display: flex;
}
.nav-links li {
    list-style: none;
    padding: 7px 15px;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}